button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
  }

.btn-default {
    background-color: #f4b400;
    color: #fff;
}
  
.btn-danger {
    background-color: #db4437;
    color: #fff;
}

.btn-primary {
    background-color: #4285f4;
    padding: 5px;
    color: #fff;
}